@use "../styles/font.scss";

#about {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/images/bar1.png);
  & .about {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    & .title {
      font-size: var(--fs-xxl);
      font-family: "Bebas Neue", sans-serif;
    }
    & .enroll {
      background-color: transparent;
      border: 1px #fff solid;
      color: #fff;
      padding: 10px 20px;
      border-radius: 25px;
      font-size: var(--fs-xxs);
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
    & .subtext {
      text-align: center;
      width: 70%;
      font-size: var(--fs-xs);
    }
    & .hidden {
      opacity: 0;
      filter: blur(5px);
      transform: translateY(10px);
      transition: all 700ms;
    }
    & .open {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
}
